{% extends 'main/header.html' %}

{% block content %}
  <div class="row">
    {% for not in Noticias %}
        <div class="col s12 m6">
          <div class="card red accent-4 hoverable">
            <div class="card-content white-text">
              <span class="card-title">{{not.titulo}}</span>
              <p style="font-size:70%">Publicada em: {{not.data_publicacao}}</p>
              <p>{{not.conteudo|safe}}</p>
            </div>
          </div>
        </div>
    {% endfor %}
{% endblock %}
